<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Facebook likes counter button</h2>
    </div>
  </div>

  <!-- Basic Example -->
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h4 class="text-center">Simple FB likes counter button</h4>
      <div class="col-md-3 mx-auto">
        <a mdbBtn class="btn-fb btn-block waves-light text-center" mdbWavesEffect>
          <i class="fa fa-facebook left"></i>
          <span>Likes Counter</span>
        </a>
        <span class="counter">{{likeCounter}}</span>
      </div>
    </div>
  </div>
  <!-- Basic Example -->

  <hr class="my-5">
</div>
