<!--Third row-->
<div class="row " style="margin-top:20px;">
  <!--First column-->
  <div class="col-md-5">
    <div class="md-form">
      <input mdbInputDirective type="text" id="form41" class="form-control" (keyup)="search()" [(ngModel)]="nameSearch">
      <label for="form41" class="">Tên template</label>
    </div>
  </div>



</div>
<!--/.Third row-->
<!-- Basic example -->
<div class="row">
  <div class="col-md-12 mx-auto mt-2">
    <div class="card card-cascade narrower mt-2">
      <!--Card image-->
      <div
        class="view view-cascade gradient-card-header card-header narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">

        <h4 class="white-text font-weight-bold text-uppercase mb-0">Danh sách template</h4>

      </div>
      <!--/Card image-->

      <div class="px-4">
        <div class="row table-button-group">
          <div class="col-md-6 left">
            <nav aria-label="...">
              <ul class="pagination">
                <li *ngFor="let i of pageSizeNumbers" class="page-item" [class.active]="pageSize==i"
                  (click)="setPageSize(i)"><a class="page-link">{{i}}</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-md-6 right text-right">
            <button routerLink="create" _ngcontent-c22="" color="default" mdbbtn="" mdbwaveseffect="" outline="true"
              type="button" class="btn btn-outline-default" ng-reflect-color="default" ng-reflect-outline="true">
              <i class="fa fa-plus"></i>Thêm mới template</button>
          </div>
        </div>
        <table class="table table-hover table-responsive-md mb-0 animated bounceInUp">
          <thead>
            <tr class="">
              <th class="th-lg">Tên </th>
              <th class="th-lg">Form</th>
              <th class="th-lg">Serial</th>
              <th class="th-lg">Số lượng</th>
              <th class="th-lg">Số hiện tại</th>
              <th class="th-lg">Hóa đơn mẫu</th>

              <th class="th-lg text-center" colspan="2" style="width:10%">Thao Tác</th>

            </tr>
          </thead>
          <!--Table body-->
          <tbody>
            <tr *ngFor="let item of data.List">
              <td [routerLink]="['edit',item.Id]"><b>{{item.Name}}</b><br /></td>
              <td>{{item.Form}}</td>
              <td>{{item.Serial}}</td>
              <td>{{item.Amount | number }} </td>
              <td>{{item.CurrentNo}} </td>
              <td class="text-center"><a mdbBtn (click)="getInvoice(item)" floating="true" gradient="peach"
                  mdbWavesEffect>
                  <mdb-icon fas icon="leaf"></mdb-icon>
                </a>
              </td>

              <td class="text-center">
                <button class="btn-md" [routerLink]="[item.Id, 'edit']" mdbBtn type="button" color="info" rounded="true"
                  outline="true" mdbWavesEffect>
                  <i class="fa fa-pencil"></i>
                </button>
              </td>
              <td>
                <button class="btn-md"
                  [swal]="{ title: 'Xóa sản phẩm', text: 'Hành động này không thể hoàn tác' ,type :'warning',showCancelButton : 'true' }"
                  (confirm)="delete(item)" mdbTooltip="Xóa" mdbBtn type="button" color="primary" rounded="true"
                  outline="true" mdbWavesEffect>
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
      </div>
      <hr class="my-0">
      <!--Bottom Table UI-->
      <div class="d-flex justify-content-center">
        <!--Pagination -->
        <nav class="my-4 pt-2">
          <ul class="pagination pagination-circle pg-purple mb-0">
            <li class="page-item" [class.active]="i == index" *ngFor="let i of pageNumbers">
              <a class="page-link" (click)="setIndex(i)">{{i}}</a>
            </li>
          </ul>
        </nav>

        <!--/Pagination -->
      </div>
      <!--Bottom Table UI-->
    </div>
  </div>
</div>
<!-- Basic example -->

<div mdbModal #basicModal="mdbModal"  style="overflow-y: auto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">PDF File</h4>
      </div>
      <div class="modal-body">
        <pdf-viewer *ngIf="PDFsrc" [src]="PDFsrc" [render-text]="true" style="display: block;"></pdf-viewer>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
          (click)="basicModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>