<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Team Sections</h2>
    </div>
  </div>

  <!-- Team v.1 -->
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h4 class="text-center">Team v.1</h4>

      <!-- Section: Team v.1 -->
      <section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
          error amet numquam iure provident voluptate esse quasi,
          veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Anna Williams</h5>
            <p class="text-uppercase blue-text">
              <strong>Graphic designer</strong>
            </p>
            <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              sed quia non numquam modi
              tempora eius.</p>
            <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                <i class="fa fa-facebook blue-text"> </i>
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic">
                <i class="fa fa-twitter blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic">
                <i class="fa fa-instagram blue-text"> </i>
              </a>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">John Doe</h5>
            <p class="text-uppercase blue-text">
              <strong>Web developer</strong>
            </p>
            <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
              doloremque rem laudantium totam
              aperiam.</p>
            <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                <i class="fa fa-facebook blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic">
                <i class="fa fa-instagram blue-text"> </i>
              </a>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Maria Smith</h5>
            <p class="text-uppercase blue-text">
              <strong>Photographer</strong>
            </p>
            <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim est fugiat nulla
              id eu laborum.</p>
            <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                <i class="fa fa-facebook blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic">
                <i class="fa fa-instagram blue-text"> </i>
              </a>
              <!-- Dribbble -->
              <a class="p-2 fa-lg ins-ic">
                <i class="fa fa-dribbble blue-text"> </i>
              </a>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Tom Adams</h5>
            <p class="text-uppercase blue-text">
              <strong>Backend developer</strong>
            </p>
            <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
              totam officia voluptates perferendis
              voluptatibus aut.</p>
            <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                <i class="fa fa-facebook blue-text"> </i>
              </a>
              <!-- Github -->
              <a class="p-2 fa-lg ins-ic">
                <i class="fa fa-github blue-text"> </i>
              </a>
            </ul>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: Team v.1 -->

    </div>
  </div>
  <!-- Team v.1 -->

  <hr class="my-5">

  <!-- Team v.2 -->
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h4 class="text-center">Team v.2</h4>

      <!-- Section: Team v.2 -->
      <section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Our amazing team</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
          error amet numquam iure provident voluptate esse quasi,
          veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

        <!-- Grid row -->
        <div class="row text-center">

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Maria Kate</h4>
            <h6 class="text-uppercase grey-text mb-3">
              <strong>Photographer</strong>
            </h6>
            <!-- Facebook-->
            <a type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb">
              <i class="fa fa-facebook"></i>
            </a>
            <!--Dribbble -->
            <a type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-dribbble">
              <i class="fa fa-dribbble"></i>
            </a>
            <!-- Twitter -->
            <a type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-tw">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-5">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">John Doe</h4>
            <h6 class="text-uppercase grey-text mb-3">
              <strong>Front-end Developer</strong>
            </h6>
            <!--Email-->
            <a type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-email">
              <i class="fa fa-envelope"></i>
            </a>
            <!-- Facebook-->
            <a type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-fb">
              <i class="fa fa-facebook"></i>
            </a>
            <!-- GitHub-->
            <a type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-git">
              <i class="fa fa-github"></i>
            </a>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
            </div>
            <h4 class="font-weight-bold dark-grey-text my-4">Sarah Melyah</h4>
            <h6 class="text-uppercase grey-text mb-3">
              <strong>Web Developer</strong>
            </h6>
            <!--Linkedin -->
            <a type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-li">
              <i class="fa fa-linkedin "></i>
            </a>
            <!-- Twitter -->
            <a type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-tw">
              <i class="fa fa-twitter "></i>
            </a>
            <!--Pinterest -->
            <a type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-pin">
              <i class="fa fa-pinterest "></i>
            </a>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: Team v.2 -->

    </div>
  </div>
  <!-- Team v.2 -->

  <hr class="my-5">

  <!-- Team v.3 -->
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h4 class="text-center">Team v.3</h4>

      <!-- Section: Team v.3 -->
      <section class="team-section my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Our amazing team</h2>
        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Fugit, error amet numquam iure provident voluptate esse quasi,
          veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

        <!-- Grid row-->
        <div class="row text-center text-md-left">

          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-5">
            <div class="col-md-4 col-lg-6 float-left">
              <div class="avatar mx-auto mb-md-0 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded z-depth-1" alt="Sample avatar">
              </div>
            </div>
            <div class="col-md-8 col-lg-6 float-right">
              <h4 class="font-weight-bold mb-3">John Doe</h4>
              <h6 class="font-weight-bold grey-text mb-3">Web Designer</h6>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                tenetur.</p>
              <!-- Facebook-->
              <a class="p-2 fa-lg fb-ic">
                <i class="fa fa-facebook"> </i>
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic">
                <i class="fa fa-twitter"> </i>
              </a>
              <!--Dribbble -->
              <a class="p-2 fa-lg dribbble-ic">
                <i class="fa fa-dribbble"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-5">
            <div class="col-md-4 col-lg-6 float-left">
              <div class="avatar mx-auto mb-md-0 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded z-depth-1" alt="Sample avatar">
              </div>
            </div>
            <div class="col-md-8 col-lg-6 float-right">
              <h4 class="font-weight-bold mb-3">Maria Kate</h4>
              <h6 class="font-weight-bold grey-text mb-3">Photographer</h6>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                tenetur.</p>
              <!-- Facebook-->
              <a class="p-2 fa-lg fb-ic">
                <i class="fa fa-facebook"> </i>
              </a>
              <!--YouTube -->
              <a class="p-2 fa-lg yt-ic">
                <i class="fa fa-youtube"> </i>
              </a>
              <!--Instagram-->
              <a class="p-2 fa-lg ins-ic">
                <i class="fa fa-instagram"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

        <!-- Grid row-->
        <div class="row text-center text-md-left">

          <!-- Grid column -->
          <div class="col-lg-6 col-md-12 mb-lg-0 mb-5">
            <div class="col-md-4 col-lg-6 float-left">
              <div class="avatar mx-auto mb-md-0 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg" class="rounded z-depth-1" alt="Sample avatar">
              </div>
            </div>
            <div class="col-md-8 col-lg-6 float-right">
              <h4 class="font-weight-bold mb-3">Anna Deynah</h4>
              <h6 class="font-weight-bold grey-text mb-3">Web Developer</h6>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                tenetur.</p>
              <!-- Facebook-->
              <a class="p-2 fa-lg fb-ic">
                <i class="fa fa-facebook"> </i>
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic">
                <i class="fa fa-twitter"> </i>
              </a>
              <!-- GitHub-->
              <a class="p-2 fa-lg git-ic">
                <i class="fa fa-github"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-6 col-md-12">
            <div class="col-md-4 col-lg-6 float-left">
              <div class="avatar mx-auto mb-md-0 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" class="rounded z-depth-1" alt="Sample avatar">
              </div>
            </div>
            <div class="col-md-8 col-lg-6 float-right">
              <h4 class="font-weight-bold mb-3">Sarah Melyah</h4>
              <h6 class="font-weight-bold grey-text mb-3">Front-end Developer</h6>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                tenetur.</p>
              <!-- Google +-->
              <a class="p-2 fa-lg gplus-ic">
                <i class="fa fa-google-plus"> </i>
              </a>
              <!--LinkedIn -->
              <a class="p-2 fa-lg li-ic">
                <i class="fa fa-linkedin"> </i>
              </a>
              <!--Email-->
              <a class="p-2 fa-lg email-ic">
                <i class="fa fa-envelope"> </i>
              </a>
            </div>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </section>
      <!-- Section: Team v.3 -->

    </div>
  </div>
  <!-- Team v.3 -->

  <hr class="my-5">

  <!-- Team v.4 -->
  <div class="row">
    <div class="col-md-12 mx-auto mb-5">
      <h4 class="text-center">Team v.4</h4>

      <!--Section: Team v.4-->
      <section class="section pb-3">

        <!--Section heading-->
        <h2 class="h1 pt-4">Our amazing team</h2>
        <!--Section description-->
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident
          voluptate esse quasi,
          veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

        <div class="row">

          <!--Grid column-->
          <div class="col-lg-4 col-md-12">

            <mdb-card-rotating #cards1>
              <!--Front Side-->
              <div class="face front tp-box_side tp-box_front">

                <!-- Image-->
                <div class="card-up">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg" class="img-fluid">
                </div>
                <!--Avatar-->
                <div class="avatar">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img (10).jpg" class="rounded-circle img-responsive">
                </div>
                <!--Content-->
                <div class="card-body">
                  <h4>Maria Kate</h4>
                  <p>Photographer</p>
                  <!--Triggering button-->
                  <a class="rotate-btn" data-card="card-1" (click)="cards1.toggle()">
                    <i class="fa fa-repeat"></i> Click here to rotate</a>
                </div>
              </div>
              <!--/.Front Side-->

              <!--Back Side-->
              <div class="back tp-box_side tp-box_back">

                <!--Content-->
                <h4>About me</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem
                  amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum,
                  officia
                  laudantium quaerat?
                </p>
                <hr>
                <!--Social Icons-->
                <ul class="list-inline list-unstyled">
                  <li class="list-inline-item">
                    <a class="icons-sm fb-ic">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icons-sm pin-ic">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icons-sm ins-ic">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icons-sm tw-ic">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                </ul>
                <!--Triggering button-->
                <a class="rotate-btn" data-card="card-1" (click)="cards1.toggle()">
                  <i class="fa fa-undo"></i> Click here to rotate back</a>

              </div>
              <!--/.Back Side-->
            </mdb-card-rotating>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12">

            <mdb-card-rotating #cards2>
              <!--Front Side-->
              <div class="face front tp-box_side tp-box_front">

                <!-- Image-->
                <div class="card-up">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-fluid">
                </div>
                <!--Avatar-->
                <div class="avatar">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" class="rounded-circle img-responsive">
                </div>
                <!--Content-->
                <div class="card-body">
                  <h4>Anna Deynah</h4>
                  <p>Web Designer</p>
                  <!--Triggering button-->
                  <a class="rotate-btn" data-card="card-1" (click)="cards2.toggle()">
                    <i class="fa fa-repeat"></i> Click here to rotate</a>
                </div>
              </div>
              <!--/.Front Side-->

              <!--Back Side-->
              <div class="back tp-box_side tp-box_back">

                <!--Content-->
                <h4>About me</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem
                  amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum,
                  officia
                  laudantium quaerat?
                </p>
                <hr>
                <!--Social Icons-->
                <ul class="list-inline list-unstyled">
                  <li class="list-inline-item">
                    <a class="icons-sm fb-ic">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icons-sm tw-ic">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icons-sm gplus-ic">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icons-sm dribbble-ic">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>
                </ul>
                <!--Triggering button-->
                <a class="rotate-btn" data-card="card-1" (click)="cards2.toggle()">
                  <i class="fa fa-undo"></i> Click here to rotate back</a>

              </div>
              <!--/.Back Side-->
            </mdb-card-rotating>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12">

            <mdb-card-rotating #cards3>
              <!--Front Side-->
              <div class="face front tp-box_side tp-box_front">

                <!-- Image-->
                <div class="card-up">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg" class="img-fluid">
                </div>
                <!--Avatar-->
                <div class="avatar">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img (8).jpg" class="rounded-circle img-responsive">
                </div>
                <!--Content-->
                <div class="card-body">
                  <h4>John Doe</h4>
                  <p>Front-end Developer</p>
                  <!--Triggering button-->
                  <a class="rotate-btn" data-card="card-1" (click)="cards3.toggle()">
                    <i class="fa fa-repeat"></i> Click here to rotate</a>
                </div>
              </div>
              <!--/.Front Side-->

              <!--Back Side-->
              <div class="back tp-box_side tp-box_back">

                <!--Content-->
                <h4>About me</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem
                  amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum,
                  officia
                  laudantium quaerat?
                </p>
                <hr>
                <!--Social Icons-->
                <ul class="list-inline list-unstyled">
                  <li class="list-inline-item">
                    <a class="icons-sm gplus-ic">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icons-sm fb-ic">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icons-sm git-ic">
                      <i class="fa fa-github"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="icons-sm li-ic">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
                <!--Triggering button-->
                <a class="rotate-btn" data-card="card-1" (click)="cards3.toggle()">
                  <i class="fa fa-undo"></i> Click here to rotate back</a>

              </div>
              <!--/.Back Side-->
            </mdb-card-rotating>

          </div>
          <!--Grid column-->

        </div>

      </section>
      <!--Section: Team v.4-->

    </div>
  </div>
  <!-- Team v.4 -->
</div>
