<!--Main Navigation-->
<header>

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>MDB</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Profile</a>
        </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </links>
  </mdb-navbar>

  <!-- Intro Section -->
  <div class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png');">
    <div class="full-bg-img mask rgba-purple-slight">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="text-center">
              <ul class="list-unstyled">
                <li>
                  <h2 class="h1 display-4 font-bold mb-5 wow fadeInUp">Our New Course is Ready</h2>
                </li>
                <li>
                  <h5 class="mb-5 wow fadeInUp" data-wow-delay="0.2s">It comes with a lot of new features, easy to
                    follow videos and images. Check it out now!</h5>
                </li>
                <li class="wow fadeInUp" data-wow-delay="0.4s">
                  <a mdbBtn color="secondary" rounded="true" class="waves-light" mdbWavesEffect><i class="fa fa-user left"></i>
                    Sign up!</a>
                  <a mdbBtn color="secondary" outline="true" rounded="true" class="waves-light" mdbWavesEffect><i class="fa fa-book left"></i>
                    Learn more</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->
