<form [formGroup]="form" (submit)="create()">

  <div class="row">
    <div class="col-lg-8">

      <div class="md-form input-group">
        <input type="search" class="form-control" placeholder="Mã số thuế ..." formControlName="TaxNo">
        <div class="input-group-btn">
          <button mdbBtn color="primary" size="md" class="waves-light" type="button" (click)="GetByTaxNo()"
            mdbWavesEffect>Lấy thông tin!</button>
        </div>
      </div>
      <div class="md-form  form-group">
        <i class="fa fa-user-circle-o prefix"></i>
        <input mdbInputDirective type="text" id="form3" class="form-control" formControlName="Name">
        <label for="form2">Tên người mua </label>
      </div>
      <div class="md-form  form-group">
        <i class="fa fa-building-o  prefix"></i>
        <input mdbInputDirective type="text" id="form3" class="form-control" formControlName="Enterprise">
        <label for="form2">Tên đơn vị </label>
      </div>
      <div class="md-form  form-group">
        <i class="fa fa-location-arrow prefix"></i>
        <input mdbInputDirective type="text" id="form3" class="form-control" formControlName="Address">
        <label for="form2">Địa chỉ </label>
      </div>
      <div class="md-form  form-group">
        <i class="fa fa-university prefix"></i>
        <input mdbInputDirective type="text" id="form3" class="form-control" formControlName="Bank">
        <label for="form2">Ngân hàng </label>
      </div>
      <div class="md-form form-group">
        <i class="fa fa-bandcamp prefix"></i>
        <input mdbInputDirective type="text" id="form3" class="form-control" formControlName="BankAccountNumber">
        <label for="form2">Số tài khoản </label>
      </div>
      <div class="md-form mt-5 form-group">
        <i class="fa fa-sticky-note  prefix"></i>
        <input mdbInputDirective type="text" id="form3" class="form-control" formControlName="Note">
        <label for="form2">Ghi chú </label>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="mx-auto mt-5">
        <mdb-select [options]="templateSelect" customClass="filled-in" placeholder="Mẫu số - kí hiệu"
          formControlName="TemplateId"></mdb-select>
      </div>
      <div class="mx-auto mt-5">
        <mdb-select [options]="enviroment.typeOfPayments" customClass="filled-in" formControlName="PaymentMethod"
          placeholder="Hình thức thanh toán"></mdb-select>
      </div>
      <div class="md-form form-group">
        <i class="fa fa-phone  prefix"></i>
        <input mdbInputDirective type="text" id="form3" class="form-control" formControlName="Tel">
        <label for="form2">Số điện thoại </label>
      </div>
      <div class="md-form form-group">
        <i class="fa fa-fax prefix"></i>
        <input mdbInputDirective type="text" id="form3" class="form-control" formControlName="Fax">
        <label for="form2">Fax </label>
      </div>
      <div class="md-form form-group">
        <i class="fa fa-envelope prefix"></i>
        <input mdbInputDirective type="text" id="form3" class="form-control" formControlName="Mail">
        <label for="form2">Email </label>
      </div>
      <div class="mx-auto ">
        <mdb-date-picker name="mydate" [placeholder]="'Hạn Thanh toán'" formControlName="DueDate">
        </mdb-date-picker>
      </div>

      <div class="mx-auto ">
        <mdb-date-picker name="mydate" [placeholder]="'Ngày xuất hóa đơn'" required formControlName="Date">
        </mdb-date-picker>
      </div>
    </div>

  </div>
  <div class="row text-center">

    <div class="d-flex justify-content-center flex-wrap">
      <button type="button" mdbBtn color="info" class=" true relative waves-light" (click)="mdbModal.show()"
        mdbWavesEffect>Thêm sản phẩm</button>
    </div>
    <table class="table table-striped table-responsive-md btn-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Tên </th>
          <th>Đơn vị</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
          <th>Thao tác</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of form.controls['invoiceItemCMs'].value ; let i = index">
          <th scope="row">{{i}}</th>
          <td>{{item.Name}}</td>
          <td>{{item.Unit}}</td>
          <td>{{item.UnitPrice | number}}</td>
          <td>{{item.Quantity}}</td>
          <td>{{item.Total| number}}</td>
          <td>
            <button mdbBtn color="indigo" (click)="deleteItem(i)" size="sm" mdbWavesEffect type="button"
              class="m-0">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-2">
    <div class="col-md-9  ">
      <span class=" pull-right">
        Tổng tiền dịch vụ/ sản phẩn
      </span>
    </div>
    <div class="col-md-3">
      <input mdbInputDirective disabled="true" type="text" id="form3" class="form-control" formControlName="SubTotal"
        [textMask]="{mask: numberMask}">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-3">
      <span class=" pull-right">
        Thuế VAT
      </span>
    </div>

    <div class="col-md-3">
      <mdb-select [options]="VatSelect" (selected)="changeVAT()" customClass="filled-in" placeholder="Thuế suất"
        formControlName="VATRate">

      </mdb-select>
    </div>
    <div class="col-md-3">
      <span class=" pull-right">
        Tiền thuế
      </span>
    </div>
    <div class="col-md-3">
      <input mdbInputDirective disabled="true" type="text" id="form3" class="form-control" formControlName="VATAmount"
        [textMask]="{mask: numberMask}">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-9  ">
      <span class=" pull-right">
        Tổng tiền thanh toán
      </span>
    </div>
    <div class="col-md-3">
      <input mdbInputDirective disabled="true" type="text" id="form3" class="form-control" formControlName="Total"
        [textMask]="{mask: numberMask}">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-3  ">
      <span class=" pull-right">
        Số tiền bằng chữ
      </span>
    </div>
    <div class="col-md-9">
      <input mdbInputDirective disabled="true" type="text" id="form3" class="form-control"
        formControlName="AmountInWords">
    </div>
  </div>
  <div class="row mt-1">
    <button mdbBtn color="blue-grey" mdbWavesEffect>Xuất hóa đơn</button>
  </div>
</form>
<div class="mt-5"></div>

<div mdbModal #mdbModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" [config]="{ ignoreBackdropClick: true}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="mdbModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Thêm sản phẩm</h4>
      </div>
      <div class="modal-body">
        <mdb-select [options]="productSelect" [filterEnabled]="true" (selected)="getProduct($event)"
          placeholder="Tìm kiếm theo mã và tên"></mdb-select>
        <div class="md-form form-group">
          <input mdbInputDirective type="text" id="form3" class="form-control" readonly="true"
            [(ngModel)]="productSelected.Code">
          <label for="form2">Code </label>
        </div>
        <div class="md-form form-group">
          <input mdbInputDirective type="text" id="form3" class="form-control" [(ngModel)]="productSelected.Name">
          <label for="form2">Tên </label>
        </div>
        <div class="md-form form-group">
          <input mdbInputDirective type="text" id="form3" class="form-control" [(ngModel)]="productSelected.Unit">
          <label for="form2">Đơn vị </label>
        </div>
        <div class="md-form form-group">
          <input mdbInputDirective type="text" id="form3" class="form-control" [(ngModel)]="productSelected.UnitPrice"
            [textMask]="{mask: numberMask}">
          <label for="form2">Đơn giá </label>
        </div>
        <div class="md-form form-group">
          <input mdbInputDirective type="text" id="form3" class="form-control" [(ngModel)]="productSelected.Quantity">
          <label for="form2">Số lượng </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="mdbModal.hide()"
          mdbWavesEffect>Đóng</button>
        <button type="button" mdbBtn color="primary" (click)="addProduct()" class="relative waves-light"
          mdbWavesEffect>Thêm
          !</button>
      </div>
    </div>
  </div>
</div>

<swal #errorSwal title="Lỗi" text="Vui lòng kiểm tra lại dữ liệu" type="warning">
</swal>
