<!--Main Navigation-->
<header>

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>MDB</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Profile</a>
        </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </links>
  </mdb-navbar>

  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg); background-attachment: fixed;">
    <div class="full-bg-img mask rgba-white-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12 mb-3">
            <div class="intro-info-content text-center">
              <h2 class="h1 display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s">NATALIE <a class="indigo-text font-bold">SMITH</a></h2>
              <h5 class="font-up mb-5 mt-1 font-bold wow fadeInDown" data-wow-delay="0.3s">Web developer & graphic
                designer</h5>
              <a mdbBtn color="light-blue" size="lg" class="wow fadeInDown waves-light" data-wow-delay="0.3s"
                mdbWavesEffect>portfolio</a>
              <a mdbBtn color="indigo" size="lg" class="wow fadeInDown waves-light" data-wow-delay="0.3s"
                mdbWavesEffect>About me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->
