<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap basic Facebook share button</h2>
    </div>
  </div>

  <!-- Basic Example -->
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h4 class="text-center">Simple FB Share Button</h4>
      <div class="col-md-3 mx-auto">
        <a mdbBtn class="btn-fb btn-block waves-light text-center" (click)="share()" mdbWavesEffect>
          <i class="fa fa-facebook left"></i>
          <span>Share on Facebook!</span>
        </a>
        <!-- <span class="counter align-self-end">{{shareCounter}}</span> -->
      </div>
    </div>
  </div>
  <!-- Basic Example -->

  <hr class="my-5">
</div>
