<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Cards</h2>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <h3 class="text-center">
        <strong>Basic Cards</strong>
      </h3>
    </div>
    <div class="row">

      <!-- Basic Example -->
      <div class="col-md-6 mx-auto mb-5">
        <h4 class="text-center">Basic Example</h4>
        <mdb-card>
          <!--Card image-->
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
          <!--Card content-->
          <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>

            <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Basic Example -->

      <!-- Waves effect -->
      <div class="col-md-6 mx-auto mb-5">
        <h4 class="text-center">Waves effect</h4>
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Card Title</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>

            <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Waves effect -->

    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <h3 class="text-center">
        <strong>Cascading Cards</strong>
      </h3>
    </div>

    <div class="row">


      <div class="col-md-4 mb-4">
        <h4 class="text-center">Wider</h4>
        <!--Card-->
        <mdb-card cascade="true" wider="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <!--Title-->
            <h4 class="card-title">
              <strong>Alice Mayer</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>Photographer</strong>
            </h5>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </mdb-card-text>

            <!--Linkedin-->
            <a class="px-2 icons-sm li-ic">
              <mdb-icon icon="linkedin"></mdb-icon>
            </a>
            <!--Twitter-->
            <a class="px-2 icons-sm tw-ic">
              <mdb-icon icon="twitter"></mdb-icon>
            </a>
            <!--Dribbble-->
            <a class="px-2 icons-sm fb-ic">
              <mdb-icon icon="facebook"></mdb-icon>
            </a>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4 mb-4">
        <h4 class="text-center">Narrower</h4>
        <!--Card-->
        <mdb-card cascade="true" narrower="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h5 class="pink-text">
              <mdb-icon icon="cutlery"></mdb-icon> Culinary</h5>
            <!--Title-->
            <h4 class="card-title">Cheat day inspirations</h4>
            <!--Text-->

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </mdb-card-text>

            <a class="btn btn-unique waves-light" mdbWavesEffect>Button</a>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4 mb-4">
        <h4 class="text-center">Regular</h4>
        <!--Card-->
        <mdb-card cascade="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h4 class="card-title">
              <strong>Billy Cullen</strong>
            </h4>
            <h5>Web developer</h5>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </mdb-card-text>

            <!--Facebook-->
            <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
              <mdb-icon icon="facebook"></mdb-icon>
            </a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
              <mdb-icon icon="twitter"></mdb-icon>
            </a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbWavesEffect>
              <mdb-icon icon="google-plus"></mdb-icon>
            </a>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>
    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <h3 class="text-center">
        <strong>Cascading panels</strong>
      </h3>
    </div>

    <div class="row">


      <div class="col-lg-4 col-md-12 mb-4">
        <h4 class="text-center">Narrower</h4>
        <!--Card-->
        <mdb-card cascade="true" narrower="true">

          <div class="view view-cascade  gradient-card-header purple-gradient">
            <h2 class="card-header-title">Mattonit</h2>
            <p>The Boar</p>
            <div class="text-center">
              <!--Facebook-->
              <a type="button" class="btn-floating btn-small waves-light" mdbWavesEffect>
                <mdb-icon icon="facebook"></mdb-icon>
              </a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-small waves-light" mdbWavesEffect>
                <mdb-icon icon="twitter"></mdb-icon>
              </a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-small waves-light" mdbWavesEffect>
                <mdb-icon icon="google-plus"></mdb-icon>
              </a>
            </div>
          </div>

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->

            <mdb-card-text>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam
              dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium veritatis sequi.Ut enim ad minima
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.
            </mdb-card-text>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <h4 class="text-center">Wider</h4>
        <!--Card-->
        <mdb-card cascade="true" wider="true">

          <div class="view view-cascade gradient-card-header peach-gradient">
            <h2 class="card-header-title mb-2">Title of the news</h2>
            <p class="">
              <mdb-icon icon="calendar"></mdb-icon> 26.07.2017</p>

          </div>

          <mdb-card-body cascade="true" class="text-center">

            <mdb-card-text>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam
              dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium veritatis sequi.Ut enim ad minima
              veniam, quis nostrum.
            </mdb-card-text>

            <a href="#" class="orange-text mt-1 d-flex flex-row-reverse">
              <h5 class="waves-effect p-2" mdbWavesEffect>Read more
                <mdb-icon icon="chevron-right"></mdb-icon>
              </h5>
            </a>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <h4 class="text-center">Regular</h4>
        <!--Card-->
        <mdb-card cascade="true">

          <!--Card image-->
          <div class="view view-cascade gradient-card-header blue-gradient">
            <h2 class="card-header-title">Marta</h2>
            <p>Deserve for her own card</p>
          </div>
          <!--/Card image-->

          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->

            <mdb-card-text>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam
              dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium veritatis sequi.Ut enim ad minima
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
            </mdb-card-text>

            <!--Twitter-->
            <a class="icons-sm tw-ic">
              <mdb-icon icon="twitter" class="px-2"></mdb-icon>
            </a>
            <!--Linkedin-->
            <a class="icons-sm li-ic">
              <mdb-icon icon="linkedin" class="px-2"></mdb-icon>
            </a>
            <!--Facebook-->
            <a class="icons-sm fb-ic">
              <mdb-icon icon="facebook" class="px-2"></mdb-icon>
            </a>
            <!--Email-->
            <a class="icons-sm email-ic">
              <mdb-icon icon="envelope" class="px-2"></mdb-icon>
            </a>

          </mdb-card-body>
          <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
      </div>
    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <h3 class="text-center">
        <strong>Reversed cascade</strong>
      </h3>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <!-- Card content -->
          <mdb-card-body cascade="true" class="text-center">

            <!--Title-->
            <mdb-card-title>
              <h4>
                <strong>My adventure</strong>
              </h4>
            </mdb-card-title>

            <h5 class="indigo-text">
              <strong>Photography</strong>
            </h5>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </mdb-card-text>

            <!--Linkedin-->
            <a class="icons-sm li-ic">
              <mdb-icon icon="linkedin" class="px-2"></mdb-icon>
            </a>
            <!--Twitter-->
            <a class="icons-sm tw-ic">
              <mdb-icon icon="twitter" class="px-2"></mdb-icon>
            </a>
            <!--Dribbble-->
            <a class="icons-sm fb-ic">
              <mdb-icon icon="facebook" class="px-2"></mdb-icon>
            </a>
          </mdb-card-body>

        </mdb-card>
      </div>
    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <h3 class="text-center">
        <strong>Action button & footer / Stylish cards</strong>
      </h3>
    </div>

    <div class="row">


      <div class="col-md-4 mb-4">
        <h4 class="text-center">Action button & footer</h4>
        <!--Card-->
        <mdb-card>

          <!--Card image-->
          <div class="view overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/food.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Button-->
          <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 waves-light" mdbWavesEffect>
            <mdb-icon icon="chevron-right" class="pl-1" mdbWavesEffect></mdb-icon>
          </a>

          <!--Card content-->
          <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
              <h4>Card title</h4>
            </mdb-card-title>

            <hr>
            <!--Text-->
            <p class="font-small grey-dark-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </mdb-card-body>
          <!--/.Card content-->
          <!-- Card footer -->
          <mdb-card-footer class="mdb-color lighten-3 text-center">
            <ul class="list-unstyled list-inline font-small mt-3">
              <li class="list-inline-item pr-2 white-text">
                <mdb-icon icon="clock-o" class="pr-1"></mdb-icon>05/10/2015</li>
              <li class="list-inline-item pr-2">
                <a href="#" class="white-text">
                  <mdb-icon icon="comments-o" class="pr-1"></mdb-icon>12</a>
              </li>
              <li class="list-inline-item pr-2">
                <a href="#" class="white-text">
                  <mdb-icon icon="facebook" class="pr-1"></mdb-icon>
                  21</a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="white-text">
                  <mdb-icon icon="twitter" class="pr-1"></mdb-icon>
                  5</a>
              </li>
            </ul>
          </mdb-card-footer>
          <!-- Card footer -->
        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4 mb-4">
        <h4 class="text-center">Stylish cards - light</h4>
        <!--Card-->
        <mdb-card>

          <!--Card image-->
          <div class="view overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body>
            <a class="activator px-3 mr-2">
              <mdb-icon icon="share-alt"></mdb-icon>
            </a>

            <!--Title-->
            <mdb-card-title>
              <h4>Card title</h4>
            </mdb-card-title>

            <hr>

            <!--Text-->
            <mdb-card-text>
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </mdb-card-text>

            <a class="link-text">
              <h5 class="waves-light" mdbWavesEffect>Read more
                <mdb-icon icon="chevron-right" mdbWavesEffect></mdb-icon>
              </h5>
            </a>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>

      <div class="col-md-4 mb-4">
        <h4 class="text-center">Stylish cards - light</h4>
        <!--Card-->
        <mdb-card dark="true">

          <!--Card image-->
          <div class="view overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <mdb-card-body class="elegant-color white-text">
            <a class="activator px-3 mr-2">
              <mdb-icon icon="share-alt" class="white-text"></mdb-icon>
            </a>

            <!--Title-->
            <mdb-card-title>
              <h4>Card title</h4>
            </mdb-card-title>

            <hr class="hr-light">

            <!--Text-->

            <mdb-card-text class="white-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </mdb-card-text>

            <a href="#!" class="white-text d-flex justify-content-end">
              <h5 class="waves-light white-text" mdbWavesEffect>Read more
                <span>
                  <mdb-icon icon="chevron-right" class="pl-2" mdbWavesEffect></mdb-icon>
                </span>
              </h5>
            </a>
          </mdb-card-body>
          <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
      </div>

    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <h3 class="text-center">
        <strong>Testimonial card</strong>
      </h3>
    </div>

    <div class="row">

      <div class="col-md-6 mb-4">
        <mdb-card class="testimonial-card">
          <!--Bacground color-->
          <div class="card-up indigo lighten-1">
          </div>

          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
          </div>

          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4>Anna Doe</h4>
            </mdb-card-title>
            <hr>
            <!--Quotation-->
            <p>
              <mdb-icon icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-md-6 mb-4">
        <!--Card-->
        <mdb-card class="testimonial-card">
          <!--Bacground color-->
          <div class="card-up aqua-gradient">
          </div>

          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle">
          </div>

          <mdb-card-body>
            <!--Name-->
            <mdb-card-title>
              <h4>Martha Smith</h4>
            </mdb-card-title>
            <hr>
            <!--Quotation-->
            <p>
              <mdb-icon icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
          </mdb-card-body>
        </mdb-card>
        <!--/.Card-->
      </div>

    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <h3 class="text-center">
        <strong>Image Overlays</strong>
      </h3>
    </div>

    <div class="row">

      <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="pink-text">
                <mdb-icon icon="pie-chart"></mdb-icon>
                Marketing</h5>
              <h3 class="card-title pt-2">
                <strong>This is card title</strong>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero
                odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!.</p>
              <a mdbBtn color="pink" class="waves-light" mdbWavesEffect>
                <mdb-icon icon="clone" class="left"></mdb-icon> View project</a>
            </div>
          </div>
          <!-- Content -->
        </div>
        <!-- Card -->
      </div>

      <div class="col-md-6 mb-4">
        <!-- Card -->
        <div class="card card-image mb-3" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
            <div>
              <h5 class="orange-text">
                <mdb-icon icon="desktop"></mdb-icon> Software</h5>
              <h3 class="card-title pt-2">
                <strong>This is card title</strong>
              </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero
                odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!.</p>
              <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>
                <mdb-icon icon="clone" class="left"></mdb-icon> View project</a>
            </div>
          </div>
          <!-- Content -->
        </div>
        <!-- Card -->
      </div>

    </div>
  </div>

</div>