<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Modal Forms</h2>
    </div>
  </div>

  <!-- Simple modal login -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Simple modal login</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="modallogin.show()" mdbWavesEffect>
          Simple modal login
        </button>
      </div>

      <div mdbModal #modallogin="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modallogin.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control validate"
                  mdbInputDirective>
                <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
              </div>

              <div class="md-form mb-4">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control validate"
                  mdbInputDirective>
                <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Simple modal login -->

  <hr class="my-5">

  <!-- Simple modal register -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Simple modal register</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="modalregister.show()" mdbWavesEffect>
          Simple modal register
        </button>
      </div>

      <div mdbModal #modalregister="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalregister.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control validate" [formControl]="signupFormModalName"
                  mdbInputDirective>
                <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
              </div>
              <div class="md-form mb-5">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="orangeForm-email" class="form-control validate" [formControl]="signupFormModalEmail"
                  mdbInputDirective>
                <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
              </div>

              <div class="md-form mb-4">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control validate" [formControl]="signupFormModalPassword"
                  mdbInputDirective>
                <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>Sign up</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Simple modal register -->

  <hr class="my-5">

  <!-- Simple modal subscription -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Simple modal subscription</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="modalsubscription.show()" mdbWavesEffect>
          Simple modal subscription
        </button>
      </div>

      <div mdbModal #modalsubscription="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalsubscription.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="form4" class="form-control validate" [formControl]="subscriptionFormModalName"
                  mdbInputDirective>
                <label data-error="wrong" data-success="right" for="form4">Your name</label>
              </div>

              <div class="md-form mb-4">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="form5" class="form-control validate" [formControl]="subscriptionFormModalEmail"
                  mdbInputDirective>
                <label data-error="wrong" data-success="right" for="form5">Your email</label>
              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button mdbBtn color="indigo" class="waves-light" mdbWavesEffect>Send
                <i class="fa fa-paper-plane-o ml-1"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Simple modal subscription -->

  <hr class="my-5">

  <!-- Simple modal contact -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Simple modal contact</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="modalsubscription.show()" mdbWavesEffect>
          Simple modal contact
        </button>
      </div>

      <div mdbModal #modalsubscription="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalsubscription.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="form34" class="form-control validate" mdbInputDirective [formControl]="contactFormModalName">
                <label data-error="wrong" data-success="right" for="form34">Your name</label>
              </div>

              <div class="md-form mb-5">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="form35" class="form-control validate" mdbInputDirective [formControl]="contactFormModalEmail">
                <label data-error="wrong" data-success="right" for="form35">Your email</label>
              </div>

              <div class="md-form mb-5">
                <i class="fa fa-tag prefix grey-text"></i>
                <input type="text" id="form32" class="form-control validate" mdbInputDirective [formControl]="contactFormModalSubject">
                <label data-error="wrong" data-success="right" for="form32">Subject</label>
              </div>

              <div class="md-form">
                <i class="fa fa-pencil prefix grey-text"></i>
                <textarea type="text" id="form8" class="md-textarea form-control" rows="1" mdbInputDirective
                  [formControl]="contactFormModalMessage"></textarea>
                <label data-error="wrong" data-success="right" for="form8">Your message</label>
              </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button mdbBtn color="unique" class="waves-light" mdbWavesEffect>Send
                <i class="fa fa-paper-plane-o ml-1"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Simple modal contact -->

  <hr class="my-5">

  <!-- Cascading modal register / login -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Cascading modal register / login</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="modalcascading.show()" mdbWavesEffect>
          Cascading modal register / login
        </button>
      </div>

      <div mdbModal #modalcascading="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
          <!--Content-->
          <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

              <!-- Tab panels -->
              <mdb-tabset #staticTabs [buttonClass]="'nav md-tabs tabs-2 light-blue darken-3'" [contentClass]="''"
                class="tab-content">
                <!--Panel 7-->
                <mdb-tab class="tab-pane fade in show active" id="panel7" role="tabpanel" heading="<i class='fa fa-user mr-1'></i> Login">

                  <!--Body-->
                  <div class="modal-body mb-1">
                    <div class="md-form form-sm">
                      <i class="fa fa-envelope prefix"></i>
                      <input mdbInputDirective type="text" id="form22" class="form-control" [formControl]="modalFormLoginEmail">
                      <label for="form22">Your email</label>
                    </div>

                    <div class="md-form form-sm">
                      <i class="fa fa-lock prefix"></i>
                      <input mdbInputDirective type="password" id="form23" class="form-control" [formControl]="modalFormLoginPassword">
                      <label for="form23">Your password</label>
                    </div>
                    <div class="text-center mt-2">
                      <button mdbBtn color="info" class="waves-light" mdbWavesEffect>Log in
                        <i class="fa fa-sign-in ml-1"></i>
                      </button>
                    </div>
                  </div>
                  <!--Footer-->
                  <div class="modal-footer display-footer">
                    <div class="options text-center text-md-right mt-1">
                      <p>Not a member?
                        <a href="#" class="blue-text">Sign Up</a>
                      </p>
                      <p>Forgot
                        <a href="#" class="blue-text">Password?</a>
                      </p>
                    </div>
                    <button type="button" mdbBtn color="info" outline="true" class="ml-auto" data-dismiss="modal"
                      (click)="modalcascading.hide()" mdbWavesEffect>Close</button>
                  </div>

                </mdb-tab>
                <!--/.Panel 7-->

                <!--Panel 8-->
                <mdb-tab class="tab-pane fade" id="panel8" role="tabpanel" heading="<i class='fa fa-user-plus mr-1'></i> Register">

                  <!--Body-->
                  <div class="modal-body">
                    <div class="md-form form-sm">
                      <i class="fa fa-envelope prefix"></i>
                      <input mdbInputDirective type="text" id="form24" class="form-control" [formControl]="modalFormRegisterEmail">
                      <label for="form24">Your email</label>
                    </div>

                    <div class="md-form form-sm">
                      <i class="fa fa-lock prefix"></i>
                      <input mdbInputDirective type="password" id="form25" class="form-control" [formControl]="modalFormRegisterPassword">
                      <label for="form25">Your password</label>
                    </div>

                    <div class="md-form form-sm">
                      <i class="fa fa-lock prefix"></i>
                      <input mdbInputDirective type="password" id="form26" class="form-control" [formControl]="modalFormRegisterRepeatPassword">
                      <label for="form26">Repeat password</label>
                    </div>

                    <div class="text-center form-sm mt-2">
                      <button mdbBtn color="info" class="waves-light" mdbWavesEffect>Sign up
                        <i class="fa fa-sign-in ml-1"></i>
                      </button>
                    </div>

                  </div>
                  <!--Footer-->
                  <div class="modal-footer">
                    <div class="options text-right">
                      <p class="pt-1">Already have an account?
                        <a href="#" class="blue-text">Log In</a>
                      </p>
                    </div>
                    <button type="button" mdbBtn color="info" outline="true" class="ml-auto" data-dismiss="modal"
                      (click)="modalcascading.hide()" mdbWavesEffect>Close</button>
                  </div>
                </mdb-tab>
                <!--/.Panel 8-->
              </mdb-tabset>

            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Cascading modal register / login -->

  <hr class="my-5">

  <!-- Modal with avatar -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Modal with avatar</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="modalavatar.show()" mdbWavesEffect>
          Modal with avatar
        </button>
      </div>

      <div mdbModal #modalavatar="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
          <!--Content-->
          <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle img-responsive">
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">

              <h5 class="mt-1 mb-2">Maria Doe</h5>

              <div class="md-form ml-0 mr-0">
                <input type="password" type="text" id="form29" class="form-control form-control-sm validate ml-0"
                  mdbInputDirective [formControl]="modalFormAvatarPassword">
                <label data-error="wrong" data-success="right" for="form29" class="ml-0">Enter password</label>
              </div>

              <div class="text-center mt-4">
                <button mdbBtn color="cyan" rounded="true" class="mt-1 waves-light" mdbWavesEffect>Login
                  <i class="fa fa-sign-in ml-1"></i>
                </button>
              </div>
            </div>

          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Modal with avatar -->

  <hr class="my-5">

  <!-- Subscription modal with orange header -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Subscription modal with orange header</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="modalorange.show()" mdbWavesEffect>
          Subscription modal with orange header
        </button>
      </div>

      <div mdbModal #modalorange="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
              <h4 class="modal-title white-text w-100 font-weight-bold py-2">Subscribe</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalorange.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">
              <div class="md-form mb-5">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="form3" class="form-control" mdbInputDirective [formControl]="modalFormSubscriptionName">
                <label data-error="wrong" data-success="right" for="form3">Your name</label>
              </div>

              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="form2" class="form-control" mdbInputDirective [formControl]="modalFormSubscriptionEmail">
                <label data-error="wrong" data-success="right" for="form2">Your email</label>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a type="button" mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect>Send
                <i class="fa fa-paper-plane-o ml-1"></i>
              </a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Subscription modal with orange header -->

  <hr class="my-5">

  <!-- Elegant modal login -->
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Elegant modal login</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="modalelegant.show()" mdbWavesEffect>
          Elegant modal login
        </button>
      </div>

      <div mdbModal #modalelegant="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <!--Content-->
          <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center">
              <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
                <strong>Sign in</strong>
              </h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalelegant.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
              <!--Body-->
              <div class="md-form mb-5">
                <input type="email" id="Form-email1" class="form-control" mdbInputDirective [formControl]="modalFormElegantEmail">
                <label data-error="wrong" data-success="right" for="Form-email1">Your email</label>
              </div>

              <div class="md-form pb-3">
                <input type="password" id="Form-pass1" class="form-control" mdbInputDirective [formControl]="modalFormElegantPassword">
                <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
                <p class="font-small blue-text d-flex justify-content-end">Forgot
                  <a href="#" class="blue-text ml-1"> Password?</a>
                </p>
              </div>

              <div class="text-center mb-3">
                <button type="button" mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light"
                  mdbWavesEffect>Sign in</button>
              </div>
              <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>

              <div class="row my-3 d-flex justify-content-center">
                <!--Facebook-->
                <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light"
                  mdbWavesEffect>
                  <i class="fa fa-facebook text-center"></i>
                </button>
                <!--Twitter-->
                <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light"
                  mdbWavesEffect>
                  <i class="fa fa-twitter"></i>
                </button>
                <!--Google +-->
                <button type="button" mdbBtn color="white" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>
                  <i class="fa fa-google-plus"></i>
                </button>
              </div>
            </div>
            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
              <p class="font-small grey-text d-flex justify-content-end">Not a member?
                <a href="#" class="blue-text ml-1"> Sign Up</a>
              </p>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Elegant modal login -->

  <hr class="my-5">

  <!-- Dark modal register -->
  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <h4 class="text-center">Dark modal register</h4>

      <div class="d-flex justify-content-center">
        <button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
          (click)="modaldark.show()" mdbWavesEffect>
          Dark modal register
        </button>
      </div>

      <div mdbModal #modaldark="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog form-dark" role="document">
          <!--Content-->
          <div class="modal-content card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
            <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
              <!--Header-->
              <div class="modal-header text-center pb-4">
                <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel">
                  <strong>SIGN</strong>
                  <a class="green-text font-weight-bold">
                    <strong> UP</strong>
                  </a>
                </h3>
                <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close" (click)="modaldark.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!--Body-->
              <div class="modal-body">
                <!--Body-->
                <div class="md-form mb-5">
                  <input type="email" id="Form-email5" class="form-control white-text" mdbInputDirective [formControl]="modalFormDarkEmail">
                  <label data-error="wrong" data-success="right" for="Form-email5">Your email</label>
                </div>

                <div class="md-form pb-3">
                  <input type="password" id="Form-pass5" class="form-control white-text" mdbInputDirective
                    [formControl]="modalFormDarkPassword">
                  <label data-error="wrong" data-success="right" for="Form-pass5">Your password</label>
                  <div class="form-group mt-4">
                    <input class="form-check-input" type="checkbox" id="checkbox624">
                    <label for="checkbox624" class="white-text form-check-label">Accept the
                      <a href="#" class="green-text font-weight-bold"> Terms and Conditions</a>
                    </label>
                  </div>
                </div>

                <!--Grid row-->
                <div class="row d-flex align-items-center mb-4">

                  <!--Grid column-->
                  <div class="text-center mb-3 col-md-12">
                    <button type="button" mdbBtn color="success" block="true" rounded="true" class="z-depth-1 waves-light"
                      mdbWavesEffect>Sign up</button>
                  </div>
                  <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">
                    <p class="font-small white-text d-flex justify-content-end">Have an account?
                      <a href="#" class="green-text ml-1 font-weight-bold"> Log in</a>
                    </p>
                  </div>
                  <!--Grid column-->

                </div>
                <!--Grid row-->

              </div>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>

    </div>
  </div>
  <!-- Dark modal register -->
</div>
