.fixed-sn main,
.fixed-sn .page-footer .container-fluid {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.fixed-sn main {
  padding-top: 0 !important;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
