<!--Double navigation-->
<header>

  <!-- Sidebar navigation -->
  <mdb-side-nav #sidenav class="sn-bg-1 fixed" [fixed]="true">

    <mdb-navbar-brand>
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light">
          <a href="#">
            <!-- <img src="http://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center"> -->
          </a>
        </div>
      </li>
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>
      <!--Social-->
      <li>
        <ul class="social">
          <li>
            <a class="icons-sm fb-ic">
              <i class="fa fa-facebook"> </i>
            </a>
          </li>
          <li>
            <a class="icons-sm pin-ic">
              <i class="fa fa-pinterest"> </i>
            </a>
          </li>
          <li>
            <a class="icons-sm gplus-ic">
              <i class="fa fa-google-plus"> </i>
            </a>
          </li>
          <li>
            <a class="icons-sm tw-ic">
              <i class="fa fa-twitter"> </i>
            </a>
          </li>
        </ul>
      </li>
      <!--/Social-->
      <!--Search Form-->
      <li>
        <form class="search-form" role="search">
          <div class="form-group md-form mt-0 pt-1 waves-light" mdbWavesEffect>
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
      </li>
      <!--/.Search Form-->
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <mdb-accordion [multiple]="false" aria-multiselectable="false">
            
            <!-- Collapsible link -->
            <mdb-accordion-item>
                <mdb-accordion-item-head mdbWavesEffect>
                  <i class="fa fa-user"></i>Hóa đơn</mdb-accordion-item-head>
                <mdb-accordion-item-body>
                  <ul>
                    <li>
                      <a [routerLink]="['invoice']" class="waves-effect" mdbWavesEffect>Danh sách Hóa đơn</a>
                    </li>
                    <li>
                      <a [routerLink]="['invoice/create']" class="waves-effect" mdbWavesEffect>Tạo Hóa đơn </a>
                    </li>
                  </ul>
                </mdb-accordion-item-body>
              </mdb-accordion-item>
            
          </mdb-accordion>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
    [containerInside]="false">

    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <!--/. SideNav slide-out button -->
    </navlinks>

    <mdb-navbar-brand>
      <!-- Breadcrumb-->
      <div class="breadcrumbs breadcrumb-dn mr-auto">
        <p>Product of HiSoft Company</p>
      </div>
      <!--/. Breadcrumb-->
    </mdb-navbar-brand>

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <i class="fa fa-envelope"></i>
            <span class="clearfix d-none d-sm-inline-block">Contact</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <i class="fa fa-user"></i>
            <span class="clearfix d-none d-sm-inline-block">Account</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect (click)="logOut()">
            <i class="fa fa-sign-out"></i>
            <span class="clearfix d-none d-sm-inline-block">Log Out</span>
          </a>
        </li>

      </ul>
    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->

</header>
<!--/.Double navigation-->

<!--Main Layout-->
<main>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</main>
<!--/Main layout-->