<!--Main Navigation-->
<header class="app-intro">

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <mdb-navbar-brand>
          <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>MDB</strong></a>
      </mdb-navbar-brand>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbWavesEffect>
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" href="#">Profile</a>
              </li>
          </ul>
          <form class="form-inline waves-light" mdbWavesEffect>
              <div class="md-form mt-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              </div>
          </form>
      </links>
  </mdb-navbar>

  <!--Intro Section-->
  <section class="view intro-2 rgba-gradient">
      <div class="full-bg-img mask">
          <div class="container flex-center">
              <div class="row flex-center pt-5 mt-3 w-100">
                  <div class="col-md-6 text-center text-md-left margins">
                      <div class="white-text">
                          <h2 class="h1 h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Make purchases with our app </h2>
                              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                              <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae iste.</h6>
                              <br>
                              <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Learn more</a>
                              <a mdbBtn color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Download
                                  <i class="fa fa-android left right" aria-hidden="true"></i>
                                  <i class="fa fa-apple left" aria-hidden="true"></i>
                                  <i class="fa fa-windows" aria-hidden="true"></i>
                              </a>
                      </div>
                  </div>

                  <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
                      <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png" alt="" class="img-responsive">
                  </div>
              </div>
          </div>
      </div>
  </section>

</header>
<!--Main Navigation-->