<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Datepicker</h2>
    </div>
  </div>

  <!-- Basic Example -->
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h4 class="text-center">Basic Example</h4>
      <mdb-date-picker name="mydate" [placeholder]="'Selected date'" [(ngModel)]="model" required></mdb-date-picker>
    </div>
  </div>
  <!-- Basic Example -->

  <hr class="my-5">

  <!-- Translation -->
  <div class="row">
      <div class="col-md-6 mx-auto mb-5">
        <h4 class="text-center">Translation</h4>
        <mdb-date-picker name="datepicker" #datePicker [options]="myDatePickerOptions" [placeholder]="'Selected date'" [locale]="'de'" [(ngModel)]="modell" required></mdb-date-picker>
      </div>
    </div>
    <!-- Translation -->
</div>